<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Test Suite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="qa.listeners.TestListener"/>
    </listeners>
    <test name="Appium Mobile Test">
        <classes>
            <class name="qa.test.HomeTest"/>
        </classes>
    </test>

</suite>
